## Описание бизнеса:
- Онлайн-школа SkillFactory
- С 2016 года SkillFactory разработала и запустила 25 курсов и специализаций, обучение по которым прошли уже более 9000 студентов, и стала лидером на рынке онлайн-образования в сегменте Data Science.

## Задача:
- Увеличение среднего чека, за счет рекомендаций других курсов платформы, основываясь на выбраном пользователем курсе.

## План работы:
1. Построить рекомендательную систему, благодаря которой можно будет предлагать клиентам интересные им курсы.
2. Составить итоговую таблицу с рекомендациями.

## Сбор и обработка данных:
- Рассмотрим датасеты в metabase
- Составим SQl запросы для импорта необходимых данных
- Проведем анализ с помощью Python

Импортиреум необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np
import psycopg2
import psycopg2.extras
import warnings
warnings.filterwarnings('ignore')

Выявим кол-во клиентов, приобретавших курсы

In [2]:
def getUsersCount():
    query = '''select 
    count(distinct user_id)
    from final.carts c left join final.cart_items it on c.id = it.cart_id
    where resource_type='Course' and state='successful'
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data

user_count = pd.DataFrame(getUsersCount())
user_count

   count
0  49006

Выявим кол-во курсов на плотформе

In [3]:
def getCourses():
    query = '''select count(distinct resource_id)
    from final.cart_items
    where resource_type='Course'
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data

course_count = pd.DataFrame(getCourses())
course_count

   count
0    127

Выявим среднее число купленных курсов на одного пользователя

In [4]:
def getMeanCourse():
    query = '''with a as
    (
    select 
    user_id,
    count(resource_type) as courses
    from final.carts c left join final.cart_items it  on c.id = it.cart_id
    
    group by 1
    )

    select 
    avg(courses)
    from a
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data

mean_course = pd.DataFrame(getMeanCourse())
mean_course

                  avg
0  1.4268084379537108

Выявим кол-во клиентов, приобретавших более одного курса

In [5]:
def getUsersCountMoreThenOne():
    query = '''with a as
    (
    select user_id, 
    count(distinct resource_id) as courses
    from final.carts c left join final.cart_items it on c.id = it.cart_id
    where resource_type='Course' and state='successful' 
    group by 1
    )

    select 
    count(user_id)
    from a
    where courses > 1
    
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data

user_count_more_then_one = pd.DataFrame(getUsersCountMoreThenOne())
user_count_more_then_one

   count
0  12656

Создадим новый,общий датасет, где в первой колонке будет id пользователя, а во второй id курса, который он приобрел.

In [6]:
def getUsersAndCourses():
    query = '''with a as
    (
    select user_id, 
    count(distinct resource_id) as courses
    from final.carts c left join final.cart_items it on c.id = it.cart_id
    where resource_type='Course' and state='successful'
    group by 1
    )

    select 
    a.user_id, 
    it.resource_id
    from a join final.carts c on a.user_id = c.user_id join final.cart_items it on it.cart_id = c.id
    where a.courses > 1 and it.resource_type='Course' and c.state='successful'
    order by 1,2
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data

users_and_courses = pd.DataFrame(getUsersAndCourses())
users_and_courses.head()

   user_id  resource_id
0       51          516
1       51         1099
2     6117          356
3     6117          357
4     6117         1125

Преобразуем получившийся датафрейм, сгруппируем по user_id и преобразуем столбец resource_id в списики из курсов

In [7]:
new_users_and_courses = users_and_courses.groupby(['user_id'])['resource_id'].apply(lambda x: list(np.unique(x))).reset_index()
new_users_and_courses.head()

   user_id       resource_id
0       51       [516, 1099]
1     6117  [356, 357, 1125]
2    10275       [553, 1147]
3    10457       [361, 1138]
4    17166        [356, 357]

Создадим список в который загрузим пары из курсов. 
Затем посчитаем кол-во каждой пары.

In [8]:
import itertools

pairs = []
for resource in new_users_and_courses['resource_id']: #создаем цикл для прохода по столбцу resource_id 
    for resource_pairs in itertools.combinations(resource,2): #выделяем пары и загружаем в новый список 
        pairs.append(resource_pairs)
        
from collections import Counter

common_pairs = Counter(pairs)
common_pairs

Counter({(516, 1099): 25,
         (356, 357): 100,
         (356, 1125): 44,
         (357, 1125): 52,
         (553, 1147): 16,
         (361, 1138): 40,
         (1125, 1140): 1,
         (551, 745): 138,
         (553, 745): 212,
         (551, 1138): 14,
         (553, 568): 83,
         (514, 517): 10,
         (514, 566): 138,
         (517, 566): 21,
         (363, 511): 99,
         (363, 562): 77,
         (363, 563): 33,
         (511, 562): 55,
         (511, 563): 19,
         (562, 563): 53,
         (568, 745): 102,
         (509, 553): 48,
         (509, 745): 59,
         (1125, 1144): 22,
         (509, 568): 46,
         (509, 672): 5,
         (568, 672): 4,
         (516, 552): 12,
         (356, 552): 7,
         (357, 571): 112,
         (509, 516): 35,
         (516, 568): 54,
         (513, 1141): 34,
         (571, 1125): 122,
         (551, 552): 177,
         (551, 744): 16,
         (551, 862): 8,
         (552, 744): 8,
         (552, 862): 6,
         (552, 1138): 4,
         (744, 862): 2,
         (744, 1138): 1,
         (862, 1138): 3,
         (356, 679): 8,
         (571, 745): 22,
         (571, 1099): 2,
         (745, 1099): 53,
         (509, 1099): 31,
         (568, 1099): 53,
         (517, 750): 34,
         (800, 1125): 4,
         (569, 840): 204,
         (745, 1125): 15,
         (509, 514): 8,
         (509, 551): 15,
         (514, 551): 200,
         (514, 745): 38,
         (571, 765): 83,
         (745, 1187): 32,
         (363, 566): 20,
         (513, 1125): 1,
         (1100, 1103): 33,
         (502, 564): 28,
         (502, 865): 1,
         (502, 1103): 14,
         (564, 865): 3,
         (564, 1103): 13,
         (865, 1103): 6,
         (566, 764): 92,
         (553, 1139): 27,
         (568, 1139): 22,
         (745, 1139): 67,
         (357, 1144): 7,
         (1125, 1186): 27,
         (1144, 1186): 6,
         (366, 367): 25,
         (366, 513): 6,
         (367, 513): 3,
         (519, 809): 13,
         (517, 1100): 6,
         (515, 1144): 8,
         (356, 912): 34,
         (912, 1125): 55,
         (489, 516): 25,
         (356, 489): 26,
         (356, 502): 17,
         (356, 514): 35,
         (356, 523): 24,
         (489, 502): 67,
         (489, 514): 78,
         (489, 523): 206,
         (502, 514): 95,
         (502, 523): 59,
         (514, 523): 83,
         (765, 862): 2,
         (765, 864): 2,
         (862, 864): 2,
         (356, 519): 14,
         (356, 551): 48,
         (356, 672): 4,
         (519, 523): 72,
         (519, 551): 86,
         (519, 672): 16,
         (519, 679): 25,
         (519, 912): 9,
         (523, 551): 304,
         (523, 672): 20,
         (523, 679): 67,
         (523, 912): 11,
         (551, 672): 36,
         (551, 679): 104,
         (551, 912): 18,
         (672, 679): 3,
         (672, 912): 3,
         (679, 912): 4,
         (564, 1100): 31,
         (571, 912): 74,
         (765, 912): 34,
         (765, 1125): 42,
         (745, 1101): 7,
         (745, 1146): 17,
         (745, 1147): 26,
         (1099, 1101): 2,
         (1099, 1139): 20,
         (1099, 1146): 3,
         (1099, 1147): 12,
         (1099, 1187): 16,
         (1101, 1139): 2,
         (1101, 1146): 1,
         (1101, 1147): 1,
         (1101, 1187): 1,
         (1139, 1146): 9,
         (1139, 1147): 7,
         (1139, 1187): 9,
         (1146, 1147): 6,
         (1146, 1187): 5,
         (1147, 1187): 5,
         (366, 516): 13,
         (366, 519): 18,
         (366, 1125): 5,
         (516, 519): 22,
         (516, 1125): 10,
         (519, 1125): 11,
         (519, 552): 49,
         (519, 1100): 16,
         (552, 1100): 24,
         (912, 1099): 3,
         (357, 366): 11,
         (356, 571): 103,
         (516, 553): 107,
         (516, 745): 199,
         (566, 776): 29,
         (566, 1125): 19,
         (566, 1144): 8,
         (776, 1125): 6,
         (776, 1144): 7,
         (517, 551): 52,
         (517, 571): 9,
         (517, 1144): 4,
         (551, 571): 98,
         (551, 1144): 14,
         (571, 1144): 27,
         (519, 553): 16,
         (519, 745): 29,
         (509, 1139): 16,
         (551, 553): 43,
         (551, 568): 24,
         (551, 1099): 9,
         (551, 1139): 7,
         (553, 1099): 39,
         (514, 568): 8,
         (523, 745): 43,
         (523, 1187): 4,
         (551, 1187): 7,
         (566, 571): 54,
         (519, 571): 23,
         (519, 765): 13,
         (519, 568): 13,
         (523, 671): 4,
         (523, 753): 15,
         (671, 753): 10,
         (502, 551): 135,
         (502, 566): 120,
         (502, 1100): 16,
         (523, 566): 120,
         (523, 1100): 32,
         (551, 566): 797,
         (551, 1100): 39,
         (566, 1100): 24,
         (357, 765): 38,
         (515, 1186): 1,
         (489, 515): 286,
         (489, 519): 61,
         (489, 571): 35,
         (489, 829): 14,
         (515, 519): 55,
         (515, 571): 39,
         (515, 829): 16,
         (519, 829): 7,
         (571, 829): 11,
         (490, 515): 143,
         (764, 1102): 10,
         (515, 765): 14,
         (356, 366): 15,
         (489, 509): 10,
         (489, 551): 311,
         (489, 552): 89,
         (489, 553): 12,
         (489, 564): 86,
         (489, 568): 9,
         (489, 679): 77,
         (489, 745): 28,
         (489, 1099): 4,
         (509, 519): 6,
         (509, 523): 9,
         (509, 552): 5,
         (509, 564): 2,
         (509, 571): 7,
         (509, 679): 3,
         (519, 564): 18,
         (519, 1099): 6,
         (523, 552): 144,
         (523, 553): 21,
         (523, 564): 110,
         (523, 568): 10,
         (523, 571): 57,
         (523, 1099): 4,
         (551, 564): 103,
         (552, 553): 11,
         (552, 564): 72,
         (552, 568): 5,
         (552, 571): 26,
         (552, 679): 51,
         (552, 745): 14,
         (552, 1099): 5,
         (553, 564): 4,
         (553, 571): 17,
         (553, 679): 6,
         (564, 568): 7,
         (564, 571): 24,
         (564, 679): 37,
         (564, 745): 7,
         (564, 1099): 2,
         (568, 571): 12,
         (568, 679): 4,
         (571, 679): 15,
         (679, 745): 16,
         (679, 1099): 2,
         (552, 1125): 10,
         (523, 776): 24,
         (551, 776): 51,
         (571, 776): 13,
         (776, 912): 4,
         (571, 753): 7,
         (502, 571): 19,
         (502, 764): 33,
         (502, 1125): 9,
         (514, 571): 36,
         (514, 764): 61,
         (514, 1125): 4,
         (571, 764): 12,
         (764, 1125): 8,
         (490, 523): 114,
         (490, 551): 247,
         (490, 571): 21,
         (490, 765): 10,
         (490, 803): 2,
         (490, 912): 6,
         (490, 1125): 10,
         (523, 765): 19,
         (523, 803): 6,
         (523, 1125): 16,
         (551, 765): 23,
         (551, 803): 5,
         (551, 1125): 24,
         (571, 803): 7,
         (765, 803): 5,
         (803, 912): 1,
         (803, 1125): 4,
         (357, 523): 18,
         (357, 551): 51,
         (357, 552): 11,
         (357, 659): 3,
         (357, 764): 7,
         (357, 776): 4,
         (357, 829): 6,
         (357, 909): 3,
         (357, 912): 24,
         (523, 659): 13,
         (523, 764): 59,
         (523, 829): 27,
         (523, 909): 24,
         (551, 659): 50,
         (551, 764): 91,
         (551, 829): 34,
         (551, 909): 17,
         (552, 659): 14,
         (552, 764): 32,
         (552, 765): 8,
         (552, 776): 21,
         (552, 829): 30,
         (552, 909): 12,
         (552, 912): 6,
         (571, 659): 10,
         (571, 909): 5,
         (659, 764): 5,
         (659, 765): 2,
         (659, 776): 5,
         (659, 829): 4,
         (659, 909): 2,
         (659, 912): 1,
         (659, 1125): 3,
         (764, 765): 7,
         (764, 776): 21,
         (764, 829): 16,
         (764, 909): 12,
         (764, 912): 7,
         (765, 776): 9,
         (765, 829): 4,
         (765, 909): 3,
         (776, 829): 7,
         (776, 909): 4,
         (829, 909): 11,
         (829, 912): 3,
         (829, 1125): 8,
         (909, 912): 3,
         (909, 1125): 3,
         (553, 1187): 27,
         (515, 523): 213,
         (515, 552): 88,
         (515, 566): 195,
         (552, 566): 66,
         (516, 1103): 11,
         (745, 1103): 21,
         (509, 1147): 2,
         (568, 1147): 8,
         (361, 551): 49,
         (361, 672): 23,
         (361, 745): 17,
         (672, 745): 25,
         (509, 1138): 2,
         (672, 1099): 3,
         (672, 1138): 21,
         (1099, 1138): 2,
         (489, 912): 4,
         (489, 1100): 20,
         (514, 552): 63,
         (514, 912): 4,
         (514, 1100): 11,
         (571, 1100): 16,
         (912, 1100): 7,
         (568, 1187): 13,
         (515, 553): 18,
         (515, 568): 14,
         (515, 745): 32,
         (745, 829): 6,
         (750, 765): 7,
         (750, 794): 24,
         (765, 794): 11,
         (361, 1100): 8,
         (361, 1186): 2,
         (1100, 1186): 3,
         (361, 765): 7,
         (566, 745): 66,
         (552, 1186): 4,
         (909, 1186): 3,
         (912, 1186): 9,
         (518, 523): 28,
         (518, 551): 39,
         (518, 552): 13,
         (518, 553): 2,
         (518, 564): 12,
         (518, 566): 16,
         (518, 568): 2,
         (518, 571): 2,
         (553, 566): 15,
         (564, 566): 83,
         (566, 568): 14,
         (571, 907): 3,
         (907, 1125): 2,
         (515, 517): 26,
         (515, 551): 417,
         (514, 862): 3,
         (514, 1144): 8,
         (862, 1144): 2,
         (517, 553): 3,
         (517, 745): 16,
         (366, 745): 16,
         (356, 367): 12,
         (356, 490): 13,
         (367, 490): 11,
         (367, 514): 11,
         (367, 571): 7,
         (490, 514): 94,
         (356, 765): 35,
         (366, 489): 38,
         (366, 490): 28,
         (366, 551): 63,
         (366, 571): 15,
         (366, 765): 4,
         (367, 489): 22,
         (367, 551): 46,
         (367, 765): 3,
         (489, 490): 152,
         (489, 765): 14,
         (777, 1102): 10,
         (516, 1139): 11,
         (516, 908): 2,
         (568, 908): 2,
         (908, 1099): 2,
         (360, 509): 6,
         (360, 745): 17,
         (360, 1139): 3,
         (659, 813): 2,
         (360, 366): 4,
         (360, 777): 1,
         (360, 835): 1,
         (360, 1099): 5,
         (360, 1100): 1,
         (360, 1187): 5,
         (366, 509): 2,
         (366, 777): 10,
         (366, 835): 1,
         (366, 1099): 1,
         (366, 1100): 5,
         (366, 1187): 1,
         (509, 777): 4,
         (509, 835): 5,
         (509, 1100): 4,
         (509, 1187): 6,
         (777, 835): 1,
         (777, 1099): 2,
         (777, 1100): 12,
         (777, 1187): 1,
         (835, 1099): 4,
         (835, 1100): 3,
         (835, 1187): 3,
         (1099, 1100): 5,
         (1100, 1187): 5,
         (571, 1103): 18,
         (1103, 1125): 13,
         (1103, 1144): 6,
         (509, 517): 3,
         (517, 777): 10,
         (489, 777): 39,
         (515, 679): 51,
         (515, 777): 45,
         (551, 777): 107,
         (679, 777): 41,
         (745, 1100): 21,
         (515, 516): 42,
         (515, 1099): 7,
         (515, 1187): 3,
         (516, 551): 72,
         (516, 1187): 18,
         (552, 1187): 2,
         (777, 912): 3,
         (777, 1103): 21,
         (912, 1103): 5,
         (564, 1125): 3,
         (490, 1144): 3,
         (523, 1144): 8,
         (489, 741): 37,
         (489, 752): 29,
         (489, 814): 14,
         (489, 1115): 16,
         (489, 1116): 15,
         (489, 1161): 6,
         (523, 741): 33,
         (523, 752): 54,
         (523, 814): 9,
         (523, 1115): 23,
         (523, 1116): 12,
         (523, 1161): 10,
         (552, 741): 25,
         (552, 752): 25,
         (552, 814): 10,
         (552, 1115): 14,
         (552, 1116): 10,
         (552, 1161): 8,
         (564, 741): 28,
         (564, 752): 19,
         (564, 814): 25,
         (564, 829): 21,
         (564, 1115): 6,
         (564, 1116): 18,
         (564, 1161): 6,
         (741, 752): 4,
         (741, 814): 2,
         (741, 829): 3,
         (741, 1115): 4,
         (741, 1116): 3,
         (741, 1161): 1,
         (752, 814): 2,
         (752, 829): 10,
         (752, 1115): 69,
         (752, 1116): 1,
         (752, 1161): 1,
         (814, 829): 2,
         (814, 1115): 3,
         (814, 1116): 6,
         (814, 1161): 3,
         (829, 1115): 7,
         (829, 1116): 4,
         (829, 1161): 1,
         (1115, 1116): 4,
         (1115, 1161): 1,
         (1116, 1161): 2,
         (515, 672): 8,
         (552, 672): 8,
         (571, 865): 2,
         (865, 912): 1,
         (659, 745): 6,
         (515, 909): 11,
         (361, 517): 4,
         (357, 516): 21,
         (489, 863): 3,
         (571, 863): 2,
         (863, 1100): 8,
         (566, 794): 290,
         (523, 750): 34,
         (361, 523): 10,
         (361, 743): 1,
         (361, 1147): 2,
         (523, 743): 11,
         (523, 1147): 3,
         (551, 743): 16,
         (551, 1147): 6,
         (672, 743): 1,
         (672, 1147): 5,
         (743, 1147): 1,
         (357, 517): 3,
         (777, 794): 27,
         (489, 504): 28,
         (489, 572): 20,
         (489, 840): 22,
         (489, 907): 14,
         (489, 1101): 13,
         (504, 552): 23,
         (504, 553): 1,
         (504, 572): 184,
         (504, 679): 17,
         (504, 840): 135,
         (504, 907): 2,
         (504, 1101): 4,
         (552, 572): 33,
         (552, 840): 26,
         (552, 907): 14,
         (552, 1101): 14,
         (553, 572): 1,
         (553, 840): 1,
         (553, 907): 4,
         (553, 1101): 1,
         (572, 679): 14,
         (572, 840): 178,
         (572, 907): 6,
         (572, 1101): 4,
         (679, 840): 12,
         (679, 907): 13,
         (679, 1101): 13,
         (840, 907): 5,
         (840, 1101): 7,
         (907, 1101): 4,
         (356, 671): 2,
         (356, 750): 3,
         (356, 753): 3,
         (357, 671): 2,
         (357, 750): 10,
         (357, 753): 3,
         (571, 671): 5,
         (571, 750): 16,
         (671, 750): 11,
         (671, 765): 2,
         (750, 753): 42,
         (753, 765): 4,
         (502, 515): 89,
         (502, 679): 23,
         (502, 765): 9,
         (502, 776): 26,
         (502, 912): 5,
         (515, 564): 67,
         (515, 764): 84,
         (515, 776): 20,
         (515, 912): 5,
         (564, 764): 29,
         (564, 765): 7,
         (564, 776): 12,
         (564, 912): 4,
         (566, 679): 57,
         (566, 765): 17,
         (566, 912): 13,
         (679, 764): 30,
         (679, 765): 3,
         (679, 776): 18,
         (571, 1186): 18,
         (765, 1186): 7,
         (366, 553): 6,
         (366, 1102): 2,
         (553, 1102): 6,
         (745, 1102): 11,
         (571, 777): 14,
         (659, 777): 6,
         (356, 515): 21,
         (356, 517): 3,
         (367, 515): 38,
         (367, 517): 5,
         (489, 517): 28,
         (360, 523): 7,
         (360, 568): 9,
         (794, 1125): 11,
         (551, 750): 64,
         (551, 753): 28,
         (745, 750): 12,
         (745, 753): 6,
         (361, 502): 32,
         (361, 571): 16,
         (566, 777): 39,
         (517, 523): 27,
         (517, 564): 12,
         (517, 659): 14,
         (517, 671): 6,
         (517, 741): 7,
         (517, 744): 1,
         (517, 753): 23,
         (517, 765): 2,
         (517, 803): 2,
         (517, 810): 3,
         (517, 813): 5,
         (517, 1124): 2,
         (517, 1128): 4,
         (523, 744): 9,
         (523, 810): 6,
         (523, 813): 5,
         (523, 1124): 6,
         (523, 1128): 10,
         (551, 671): 10,
         (551, 741): 51,
         (551, 810): 13,
         (551, 813): 6,
         (551, 1124): 5,
         (551, 1128): 9,
         (564, 659): 9,
         (564, 671): 4,
         (564, 744): 4,
         (564, 753): 8,
         (564, 803): 1,
         (564, 810): 5,
         (564, 813): 3,
         (564, 1124): 2,
         (564, 1128): 3,
         (571, 741): 5,
         (571, 744): 1,
         (571, 810): 1,
         (571, 813): 2,
         (571, 1124): 2,
         (571, 1128): 3,
         (659, 671): 18,
         (659, 741): 6,
         (659, 744): 2,
         (659, 753): 16,
         (659, 803): 2,
         (659, 810): 2,
         (659, 1124): 1,
         (659, 1128): 2,
         (671, 741): 2,
         (671, 744): 1,
         (671, 803): 1,
         (671, 810): 1,
         (671, 813): 1,
         (671, 1124): 1,
         (671, 1128): 1,
         (741, 744): 9,
         (741, 753): 5,
         (741, 765): 1,
         (741, 803): 1,
         (741, 810): 7,
         (741, 813): 2,
         (741, 1124): 7,
         (741, 1128): 6,
         (744, 753): 3,
         (744, 765): 1,
         (744, 803): 1,
         (744, 810): 2,
         (744, 813): 2,
         (744, 1124): 1,
         (744, 1128): 5,
         (753, 803): 1,
         (753, 810): 1,
         (753, 813): 2,
         (753, 1124): 1,
         (753, 1128): 1,
         (765, 810): 1,
         (765, 813): 1,
         (765, 1124): 2,
         (765, 1128): 1,
         (803, 810): 1,
         (803, 813): 1,
         (803, 1124): 1,
         (803, 1128): 1,
         (810, 813): 1,
         (810, 1124): 1,
         (810, 1128): 1,
         (813, 1124): 2,
         (813, 1128): 3,
         (1124, 1128): 13,
         (514, 553): 12,
         (514, 672): 4,
         (553, 672): 4,
         (553, 1100): 10,
         (765, 1103): 5,
         (516, 672): 10,
         (519, 1139): 2,
         (519, 1187): 4,
         (672, 1139): 5,
         (672, 1187): 3,
         (357, 566): 19,
         (515, 794): 66,
         (515, 810): 4,
         (516, 523): 25,
         (516, 564): 5,
         (516, 794): 14,
         (516, 810): 4,
         (523, 794): 35,
         (564, 794): 30,
         (745, 794): 34,
         (745, 810): 4,
         (794, 810): 4,
         (357, 908): 4,
         (908, 912): 4,
         (908, 1100): 36,
         (502, 509): 6,
         (750, 1125): 11,
         (489, 1125): 13,
         (357, 568): 7,
         (745, 1144): 5,
         (523, 742): 6,
         (357, 553): 16,
         (357, 672): 4,
         (777, 1138): 7,
         (571, 1138): 6,
         (912, 1138): 6,
         (1125, 1138): 13,
         (489, 566): 188,
         (489, 750): 21,
         (515, 750): 32,
         (566, 750): 55,
         (523, 777): 45,
         (564, 750): 17,
         (564, 777): 22,
         (679, 750): 13,
         (750, 776): 7,
         (750, 777): 18,
         (776, 777): 22,
         (516, 753): 1,
         (672, 777): 9,
         (490, 809): 163,
         (679, 829): 11,
         (679, 1128): 5,
         (829, 1128): 4,
         (776, 864): 5,
         (551, 1102): 18,
         (551, 1103): 76,
         (1100, 1102): 36,
         (1102, 1103): 20,
         (489, 764): 57,
         (519, 764): 10,
         (672, 1103): 4,
         (1103, 1138): 6,
         (753, 764): 7,
         (752, 1104): 22,
         (553, 829): 5,
         (568, 829): 4,
         (523, 1101): 12,
         (523, 1102): 14,
         (552, 1102): 15,
         (1100, 1101): 23,
         (1100, 1116): 15,
         (1101, 1102): 14,
         (1101, 1116): 5,
         (1102, 1116): 6,
         (765, 908): 4,
         (360, 516): 12,
         (503, 742): 22,
         (367, 564): 6,
         (367, 776): 1,
         (367, 1103): 3,
         (489, 776): 14,
         (489, 1103): 35,
         (515, 1103): 36,
         (776, 1103): 12,
         (571, 1102): 3,
         (777, 1125): 6,
         (519, 776): 14,
         (672, 776): 13,
         (504, 551): 73,
         (504, 745): 4,
         (504, 1138): 1,
         (745, 1138): 6,
         (566, 1138): 2,
         (664, 679): 8,
         (551, 794): 95,

Создадим датафрейм на основе получившегося словаря

In [9]:
common_pairs_df = pd.DataFrame.from_dict(common_pairs, orient='index').reset_index()
common_pairs_df.columns = ['courses','count']
common_pairs_df.head()

       courses  count
0  (516, 1099)     25
1   (356, 357)    100
2  (356, 1125)     44
3  (357, 1125)     52
4  (553, 1147)     16

Разделим приобретенные пары курсов по очереднсти. Сначала первый купленный курс, затем второй

In [10]:
sep_df = pd.concat([common_pairs_df.drop(['courses'], axis=1),common_pairs_df['courses'].apply(pd.Series)], axis=1)
sep_df.columns = ['count','1','2']
sep_df.head()

   count    1     2
0     25  516  1099
1    100  356   357
2     44  356  1125
3     52  357  1125
4     16  553  1147

Сортируем получившийся датафрейм. Выделим курсы, купленные во вторую очередь в порядке убывания.

In [11]:
sep_df = sep_df.sort_values(by=['1','count'],ascending=[True,False]).reset_index(drop=True)
sep_df = sep_df[['1','2','count']]
sep_df.head()

     1     2  count
0  356   571    103
1  356   357    100
2  356   551     48
3  356  1125     44
4  356   514     35

Сгруппируем данные по первому купленному курсу, а также передадим общий признак для дальнейшего анализа. Для этого хорошо подходит метод rank()

In [12]:
sep_df['rank'] = sep_df.groupby('1')['count'].rank(method='first', ascending=False)
sep_df

         1     2  count  rank
0      356   571    103   1.0
1      356   357    100   2.0
2      356   551     48   3.0
3      356  1125     44   4.0
4      356   514     35   5.0
...    ...   ...    ...   ...
3984  1185  1187      2   2.0
3985  1186  1187      4   1.0
3986  1186  1201      1   2.0
3987  1186  1198      1   3.0
3988  1187  1188      1   1.0

[3989 rows x 4 columns]

Для рекомендательной системы будем использовать первые 2 по популярнности курса, после приобретения первого курса.

In [13]:
rank_df = sep_df[(sep_df['rank'] <= 2)]
rank_df.head()

       1     2  count  rank
0    356   571    103   1.0
1    356   357    100   2.0
74   357   571    112   1.0
75   357  1125     52   2.0
144  358   570     25   1.0

Так как большинство значений будет предельно малы, посчитаем 75% квартиль и будем отталкиваться от него

In [14]:
rank_df['count'].describe()

count    229.000000
mean      48.069869
std       83.817913
min        1.000000
25%        5.000000
50%       17.000000
75%       52.000000
max      797.000000
Name: count, dtype: float64

Максимальное кол-во одной пары 797, а 75% всех пар находятся ниже значения 52

In [15]:
rank_df = rank_df[(rank_df['count'] > 52)]
rank_df.head()

       1    2  count  rank
0    356  571    103   1.0
1    356  357    100   2.0
74   357  571    112   1.0
347  363  511     99   1.0
348  363  562     77   2.0

Формируем новый датафрейм с 3 столбцами.
- Приобретенный курс 
- Первый по популярности после приобретенного 
- Второй по популярнсти после первого

In [16]:
pairs_pivot = rank_df.pivot_table(columns = 'rank', index = '1', values = '2', aggfunc='first')
pairs_pivot = pairs_pivot.reset_index()
pairs_pivot.columns = ['1','2','3']
pairs_pivot

      1       2       3
0   356   571.0   357.0
1   357   571.0     NaN
2   363   511.0   562.0
3   366   551.0     NaN
4   489   551.0   515.0
5   490   566.0   551.0
6   502   551.0   566.0
7   503   551.0   513.0
8   504   572.0   569.0
9   507   570.0   752.0
10  508   570.0     NaN
11  509   745.0     NaN
12  511   562.0     NaN
13  514   551.0   515.0
14  515   551.0   523.0
15  516   745.0   553.0
16  519   551.0   523.0
17  523   551.0   552.0
18  551   566.0   552.0
19  552   564.0   566.0
20  553   745.0   568.0
21  562   563.0     NaN
22  564   566.0     NaN
23  566   794.0   764.0
24  568   745.0  1099.0
25  569   572.0   840.0
26  570   752.0   809.0
27  571  1125.0   765.0
28  572   840.0     NaN
29  745  1139.0  1099.0
30  752   809.0  1115.0
31  809  1115.0     NaN
32  840  1161.0     NaN
33  912  1125.0     NaN

Уберем строки с пропущенными значениями и преобразуем тип в int

In [17]:
fin = pairs_pivot.dropna()

for x in ['1','2','3']:
    fin[x] = fin[x].astype(int)

## Итоговая таблица:
* 1 - Курс, к которому идёт рекомендация.
* 2 - Курс для рекомендации № 1 (самый популярный).
* 3 - Курс для рекомендации № 2 (второй по популярности).

In [18]:
fin.reset_index(drop=True)

      1     2     3
0   356   571   357
1   363   511   562
2   489   551   515
3   490   566   551
4   502   551   566
5   503   551   513
6   504   572   569
7   507   570   752
8   514   551   515
9   515   551   523
10  516   745   553
11  519   551   523
12  523   551   552
13  551   566   552
14  552   564   566
15  553   745   568
16  566   794   764
17  568   745  1099
18  569   572   840
19  570   752   809
20  571  1125   765
21  745  1139  1099
22  752   809  1115